# Choose which arb to run ("ZammFtx")
ARB=ZammFtx

# Wallet private key (ex: WALLET=[24,12,13,...])
PRIVATE_KEY=

# if true, then it won't actually place orders, it will only simulate
SIMULATE=false

# Connection information, for example "https://api.devnet.solana.com/", but try not to use public endpoints
RPC_ADDRESS=

# Which market do you want to arb? e.g. "SOL" "BTC" "ETH" "AVAX"
MARKET=

# Risk parameters, these are described at lines 25-40 in src/bot.ts
# MAKE SURE YOU UNDERSTAND THESE, AND THEIR RISKS, BEFORE YOU RUN THE SCRIPT!
# When to trigger (as a percentage)
THRESHOLD=0.4444  # Don't set this too low, have to account for fees in differential bot. Funding arb does account for fees.
POSITION_SIZE_USD=100  # The size of each trade to execute
MAX_POSITION_SIZE=1000  # The max position notional size

# FTX Arguments, only needed for FTX arb
FTX_MARKET=SOL-PERP
FTX_KEY=
FTX_SECRET=
FTX_SUBACCOUNT=
